---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=IBMCVS_API_KEY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 98ae6c0acaa9467f9ddb2d230bae3436
      Content-Language:
      - en-US
      X-Akamai-Path-Stats:
      - "[3:35106:65894]"
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"BXNIM0415E","errorMessage":"Provided API key could not
        be found","context":{"requestId":"98ae6c0acaa9467f9ddb2d230bae3436","requestType":"incoming.Identity_Token","userAgent":"http.rb/4.4.1","url":"https://iam.cloud.ibm.com","instanceId":"iamid-5.10-8650-d7c6858-6dbdf597dc-rsk7n","threadId":"798e5","host":"iamid-5.10-8650-d7c6858-6dbdf597dc-rsk7n","startTime":"08.10.2020
        16:43:58:912 UTC","endTime":"08.10.2020 16:43:58:978 UTC","elapsedTime":"66","locale":"en_US","clusterName":"iam-id-prdal12-8brn"}}'
  recorded_at: Thu, 08 Oct 2020 16:43:59 GMT
recorded_with: VCR 5.1.0
